.homepage {
  display: grid;
  padding: 15px;
  border: 2px solid black;
  margin: 12px;
}

.homepage_content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid black;
  margin: 12px;
}

.homepage_content p {
  margin-bottom: 10px;
}

.homepage_content button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
}

.homepage_content button:hover {
  background-color: darkred;
}

.homepage_content button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.day-theme {
  background-color: white;
  color: black;
}

.night-theme {
  background-color: black;
  color: white;
}

.image-style {
  width: 150px;
  height: 150px;
  padding: 8px;
  opacity: 0.8; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
}